<p> This box is here for <strong>YOU!</strong></p>
<p> If you want to borrow something just scan your Student ID followed by the item. </p>
<p> If you want to return something, just scan the item first. </p>
<p> It's that easy! </p>
<p style="color: red; font-weight: bold;"> Please be sure to also return the things you borrow, not to borrow too many things at once and to use the
    equipment responsibly for you will be held responsible if it goes missing or breaks! </p>

<style>
  p {
    font-size: 18px;
    padding-left: 20px;
  }
</style>